#lobby {
    text-align: center;
    margin-right: 0px;
}

#lobbylist {
    margin-top: 30px;
    display: flex;
    align-items : center;
    justify-content : center;
}

#listitem {
    width: 400px;
    font-size: 24px;
}

#readybutton {
    margin-top: 20px;
    width: 200px;
    height: 60px;
    font-size: 24px;
}

#admininfo {
    margin-top: 20px;
}

#rules {
    margin-top: 20px;
    margin-right: 0px;
    border: none;
}

#cardbody {
    width: 600px;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}