#lobby {
    text-align: center;
}

#lobbylist {
    margin-top: 30px;
    display: flex;
    align-items : center;
    justify-content : center;
}

#listitem {
    width: 400px;
    font-size: 24px;
}

#readybutton {
    margin-top: 20px;
    width: 200px;
    height: 60px;
    font-size: 24px;
}

#admininfo {
    margin-top: 20px;
}

#rules {
    width: 600px;
}