
#loginpage {
    text-align: center;
    margin-top: 30px;
}

#form {
    text-align: center;
    margin: auto;
    margin-top: 40px;
    width: 50%;
    padding: 10px;
}

#errormessage {
    color: red;
}

#nameinput {
    width: 250px;
    height: 60px;
    font-size: 35px;
}

#formbutton {
    width: 200px;
    height: 60px;
    font-size: 24px;
}